body {
    background-color: #24353f;
}

h1 {
    color: #17a2b8;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input {
    background-color: #24353f !important;
    color: #fff !important;
}

.group {
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

a.brand:hover {
    text-decoration: none; 
}

.btn {
    border: solid 1px yellow;
}